[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
python-dotenv = "*"
oandapyv20 = "*"
requests = "*"
six = "*"
flask-sqlalchemy = "*"
flask-script = "*"
coverage = "*"
gunicorn = "*"
apscheduler = "==2.1.2"
autopep8 = "*"

[requires]
python_version = "3.7"

[scripts]
format = "autopep8 -ivr --aggressive --aggressive ."
test = "coverage run -m unittest"