{% extends "layout.html" %}
{% block body %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">通貨ペア</th>
        <th scope="col">Bid (買値)</th>
        <th scope="col">Ask (売値)</th>
        <th scope="col">日時</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for price in prices %}
            <tr>
                <td>{{ price.instrument }}</td>
                <td>{{ price.bid }}</td>
                <td>{{ price.ask }}</td>
                <td>{{ price.created_at }}</td>
                <td><a href="{{url_for('show_price', id=price.id) }}">詳細</a></td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}