{% extends "layout.html" %}
{% block body %}
<form action="{{url_for('add_price')}}" method=post class=add-price>
    <div class="form-group">
        <label for="InputTitle">通貨ペア</label>
        <input type="text" class="form-control col-md-2" id="InputTitle" name="instrument">
        <label for="InputTitle">Bid (買値)</label>
        <input type="number" class="form-control col-md-2" id="InputTitle" name="bid">
        <label for="InputTitle">Ask（売値）</label>
        <input type="number" class="form-control col-md-2" id="InputTitle" name="ask">
    </div>
    <button type="submit" class="btn btn-primary">作成</button>
</form>
{% endblock %}